*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html, body{
    height: 100%;
    width: 100%;
}
b{
    background: #dde005;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 50px;
    width: 100%;
    background: #000;
    border-radius: 0px 0px 60px 60px;
    position: fixed;
    z-index: 999999;
    transition: all 0.3s ease-in-out;
}
nav:hover{
    height: 70px;
}
nav h1{
    color: #fff;
    font-family: sans-serif;
    position: relative;
}
nav h1 span{
    font-size: 30px;
    color: #bbbb01;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav i{
    color: #fff;
    font-size: 30px;
    display: none;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    font-family: sans-serif;
}
#main{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
#main::before{
    content: '';
    background: radial-gradient(circle, #bbbb01, #fcf192);
    height: 100vh;
    width: 50%;
    position: absolute;
    left: 0;
    z-index: -9999;
}
#main::after{
    content: '';
    background: radial-gradient(circle, #bbbb01, #fcf192);
    height: 100vh;
    width: 50%;
    position: absolute;
    right: 0;
    z-index: -9999;
}
#main .box{
    text-align: center;
    cursor: none;
    width: 100%;
    height: 30vh;
    position: relative;
}
#main .box h1{
    font-size: 90px;
    font-family: sans-serif;
    font-weight: 900;
}
#main .box span{
    font-size: 100px;
    color: #555503;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#main .box a{
    text-decoration: none;
    font-size: 40px;
    padding: 5px 20px;
    position: relative;
    top: 30px;
    color: #020202;
    position: relative;
    transition: all 0.3s ease-in;
}
#main .box .image_shows .hacker{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    pointer-events: none;
    transform: translate(0, 0);
}
#main .box:hover .image_shows .hacker.active{
    display: inline;
    transition: all 1s ease;
}
.boxes{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.main_box{
    height: 260px;
    position: relative;
    background: url(https://images.pexels.com/photos/270637/pexels-photo-270637.jpeg?auto=compress&cs=tinysrgb&w=400);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    transition: all 1s ease-in;
    border-radius: 10px;
}
.main_box:nth-child(2){
    background: url(https://images.pexels.com/photos/69432/pexels-photo-69432.jpeg?auto=compress&cs=tinysrgb&w=400);
}
.main_box:nth-child(3){
    background: url(https://images.pexels.com/photos/177598/pexels-photo-177598.jpeg?auto=compress&cs=tinysrgb&w=400);
}
.main_box .content{
    display: none;
    padding: 0 10px;
    text-align: center;
    transition: all 1s ease-in;
}
.main_box:hover .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #1313134f;
    backdrop-filter: blur(30px);
    height: 100%;
    width: 100%;
    color: #fff;
    border-radius: 10px;
}
.boxes .main_box h1{
    font-family: sans-serif;
    font-size: 25px;
}
.boxes .main_box p{
    margin-top: 20px;
    font-family: sans-serif;
}
.container_companies{
    height: 60px;
    width: 100%;
    background: #000;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 10px;
}
footer{
    height: 60vh;
    width: 100%;
    background: #2e2c2c;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
}
footer .boxe{
    padding: 10px 10px;
}
footer .boxe h1{
    font-family: sans-serif;
    color: #c9c6c6;
    font-size: 70px;
    text-align: center;
    padding: 30px 0;
}
footer .boxe h1 span{
    color: #8b8b03;
}
footer .boxe h2{
    color: #c9c6c6;
    font-family: sans-serif;
}
footer .boxe ul{
    margin-top: 6px;
}
footer .boxe ul li{
    list-style: none;
    padding: 4px 0;
}
footer .boxe ul li a{
    text-decoration: none;
    color: #8d8d8d;
    font-family: sans-serif;
    font-size: 14px;
}
footer .boxe a{
    text-decoration: none;
}
footer .boxe i{
    color: #8d8d8d;
    font-size: 30px;
    padding: 0 5px;
}
.bottom_footer{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
    border-top: 1px solid #8d8d8d;
    padding: 0 20px;
}
.bottom_footer span a{
    color: #8d8d8d;
    text-decoration: none;
    font-size: 14px;
}
/* learn section */
.container_learn{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.container_learn::before{
    content: '';
    background: radial-gradient(circle, #bbbb01, #eee595);
    height: 100vh;
    width: 50%;
    position: absolute;
    left: 0;
    z-index: -9999;
}
.container_learn::after{
    content: '';
    background: radial-gradient(circle, #bbbb01, #eee595);
    height: 100vh;
    width: 50%;
    position: absolute;
    right: 0;
    z-index: -9999;
}
.container_learn .new_cont{
    height: auto;
    width: 60%;
    padding: 10px;
    background: #d8d8d8;
    box-shadow: 5px 5px 10px;
    border-radius: 10px;
    position: relative;
    top: 20px;
}
.container_learn .new_cont h1{
    padding-bottom: 5px;
    font-family: sans-serif;
}
.container_learn .new_cont .span{
    height: 100px;
    width: 100%;
    background: #000000;
}
.container_learn .new_cont p{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0;
}
/* Blog section */
.container_blog{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 10px 10px 50vw;
    flex: none;
}
.container_blog::before{
    content: '';
    background: radial-gradient(circle, #bbbb01, #eee595);
    height: 100vh;
    width: 50%;
    position: absolute;
    left: 0;
    z-index: -9999;
}
.container_blog::after{
    content: '';
    background: radial-gradient(circle, #bbbb01, #eee595);
    height: 100vh;
    width: 50%;
    position: absolute;
    right: 0;
    z-index: -9999;
}
.card{
    min-width: 70%;
    height: 100px auto;
    background: #c9c6c6;
    border: 1px solid #dbd8d8;
    padding: 10px;
    box-shadow: 5px 5px 10px;
    border-radius: 10px;
    font-family: sans-serif;
}
.card h2{
    font-size: 25px;
    padding-bottom: 5px;
}
.card h5{
    font-size: 13px;
    padding-bottom: 5px;
}
.card .imo{
    height: 50px;
    width: 100%;
    background: #000;
}
.card p{
    font-size: 16px;
    padding: 5px 0;
}
.scroll-btn {
    position: fixed;
    top: 50%;
    background-color: #55555567;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 10;
}
#scrollContainer{
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* white-space: nowrap; */
}
#scrollContainer::-webkit-scrollbar {
    display: none;
}
.scroll-btn:hover {
    background-color: #8d898957;
}

#left-btn {
    left: 10px;
    top: 30%;
}

#right-btn {
    right: 10px;
    top: 30%;
}